* {
    font-size: 9pt;
}

QMainWindow {
    background-color: #000011;
}

QPushButton {
    background-color: #444444;
    color: #dddddd;
}

QStatusBar {
    color: #dddddd;
}

QLabel {
    color: #dddddd;
}

QComboBox {
    color: #dddddd;
    background-color: #333333;
}

QRadioButton {
    color: #dddddd;
}

ChirperConfigWidget > QTextEdit {
    background-color: #000000;
    color: #dddddd;
}

ChirperApp > QMessageBox {
    background-color: #000011;
}
